*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./bgImage/bg.jpg);
    background-size: cover;
    font-family: "Poppins", sans-serif;
}
.bgFilter{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.747);
    width: 100vw;
    height: 100vh;
}
.contianer{
    width: 250px;
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    z-index: 10;
}
input{
    margin: 8px 0;
}
.userName input{
    width: 100%;
    padding: 8px 12px;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    font-size: 0.9em;
    color: white;
}
.password input{
    width: 100%;
    padding: 8px 12px;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    font-size: 0.9em;
    color: white;
}
.logIn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: 8px 18px;
    border-radius: 15px;
    outline: none;
    border: none;
    background-color: rgba(0, 0, 0, 0.329);
    font-weight: 600;
    color: white;
}
