*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
}
button{
    cursor: pointer;
}
.masterPlayContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    border: 1px solid black;
    padding: 10px;
    background-color: white;
    z-index: 100;

}
.masterPlayContainer .progressContainer{
    width: 100%;
    background-color: skyblue;
    height: 7px;
    border-radius: 10px;
}
.progressContainer .progressBar{
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    background-color: rgb(49, 11, 9);
    width: 0%;
}
.progressBar .progressDot{
    position: absolute;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    /* top: 0; */
    right: -5px;
    /* border: 1px solid black; */
    background-color: inherit;
}
.masterPlayContainer .masterPlay{
    margin: 10px 0;
}

.masterPlayContainer .masterPlay button{
    padding: 6px 12px;
}

.cardMusicContainer{
    /* border: 1px solid black; */
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 100px;
    padding-left: 30px;
    background-color: rgba(0, 0, 0, 0.904);
}
.cardMusicContainer .songCard{
    position: relative;
    border: 1px solid black;
    width: 140px;
    height: 140px;
    border-radius: 12px;
    margin: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.151);
    display: flex;
    align-items: center;
    justify-content: center;
}
.activeMusic{
    content:"";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    top: 10px;
    right: 10px;
}
.songCard{
    color: white;
}
.songCard img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.songCard .activeSong{
    position: absolute;
}
.activeSong img{
    color: white;
}
.songListContainer{
    position: fixed;
    width: 250px;
    border: 1px solid black;
    height: 100%;
    right: 0;
    bottom: 0;
    z-index: 10;
    background: rgba(255, 255, 255, 0.2);
    /* border-radius: 16px; */
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    right: -250px;
    transition: 0.5s;
    padding: 10px;
}
.songListContainer .songList{
    width: 100%;
    height: 30px;
    padding: 8px 12px;
    margin: 5px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
    font-size: 0.9em;
    font-weight: 600;
    color: black;
    cursor: pointer;
}
.songListActive{
    right: 0;
}